<link rel="stylesheet" href="/css/footer.css">
<footer id="layout-footer">
    <div>
        <p>
            &#169;2022 Kunal Raj. All Rights Reserved
        </p>
    </div>
 
    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>