<!-- <link rel="stylesheet" href="/css/layout.css"> -->
<h1 style="text-align:center; margin-top: 100px;">
    Codieal / <%= title %>
</h1>

<section id="feed-posts">
    <h4>Post</h4>
    <% if(locals.user) { %>
        <form action="/posts/create" id="new-form-post" method="POST">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Write Somethiing Here....."></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
            <div id="post-container-list">
                <ul>
                    <% for( post of posts) { %>
                        <p>
                            <li>
                                <%= post.content %>
                                    <br>

                                    <small>
                                        <%= post.user.name %>
                                    </small>
                            </li>
                        </p>
                        <div class="post-comment">
                            <% if(locals.user) { %>
                                <form action="/comments/create" method="POST">
                                    <input type="text" name="content" id="" placeholder="Type here to add comment...">
                                    <input type="hidden" name="post" value="<%= post._id %>">
                                    <input type="submit" value="Add Comment">
                                </form>
                                <% } %>
                        </div>

                        <% } %>
                </ul>
            </div>
</section>

<!-- <script src="/js/home.js"></script> -->