<!-- <link rel="stylesheet" href="/css/layout.css"> -->
<link rel="stylesheet" href="/css/home.css">



<div id="home-container">   
  <!-- Left side bar -->
 <div class="left-side-bar">
   <h2>Feed Post</h2>
 </div>

 <!-- main content -->
 <div class="main-content">
   
  <div class="write-post-container">
     <div class="user-profile">
   
    </div>
     
    <div class="post-input-container">
      <h4>Posts Here</h4>
      <hr>
      <% if(locals.user){ %>
      <form action="/posts/create" id="new-post-form" method="POST">
          <textarea name="content" cols="30" rows="3" placeholder="What's on you mind,<%=user.name%>?" required></textarea>
          <input type="submit" value="Post">
      </form>
      <% } %>
    </div>

  </div>

   
  <section id="feed-posts">

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                
           <%- include('_post'); -%>
                
            <%} %>
        </ul>
    </div>
</section>
 </div>
 <!-- right side bar -->
 <div class="right-side-bar">
  <section id="user-friends">
    <h3>Friends</h3>
    <% for(u of all_users) { %>
      <p>
        <a href="/users/profile/<%= u.id %>"><%=u.name %></a>
      </p>
    <% } %>    
</section>
</div>

</div>

<!-- <script src="/js/home.js"></script> -->