<link rel="stylesheet" href="<%= assetsPath('/css/home.css')%>">
<!-- <div class="left-container"> -->
    <h4 class="font-bold text-2xl flex justify-center items-center">News Feed</h4>
    <img src="/images/news.png" alt="news">
    <form class="search mt-5">
        <label class="relative block">
            <span><i class="bi bi-search absolute text-md opacity-20 p-2"></i></span>
            <span class="sr-only">Search</span>
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <svg class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20"><!-- ... --></svg>
            </span>
            <input class="input  placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 mr-10 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Search News..." type="text" name="search" required/>
          </label>
        <!-- <label class="text-xl" for="news" >Search News and read</label> -->
        <!-- <input  type="text" class="input" placeholder="Search News"> -->
        <button type="submit" class= " bg-violet-600 rounded-md text-md p-3 pl-10 pr-10 text-white m-4 hover:bg-violet-800 ml-3 ">Submit</button>
    <div class="container">
        <ul class="news-list list-decimal text-blue-900 pl-7 text-lg">
          
        </ul>
    </div>
<!-- </div> -->

<script src="/js/fetchnewsapi.js"></script>
