<!-- <h1>Sign Up</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Enter Your Name...." required>
    <input type="email" name="email" placeholder="Enter Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="Confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form> -->
<link rel="stylesheet" href="/css/user_sign_up.css">

<div class="flex items-center min-h-screen p-4 lg:justify-center">
  <div
    class="flex flex-col overflow-hidden bg-slate-800 rounded-3xl shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md">
    <div class="p-4 py-6 text-white  md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly">
      <p class="flex flex-col items-center justify-center mt-10 text-center">
      <h2 class="text-2xl font-bold ">Every New Friend Is A New Adventure</h2>
      <span class="text-xl font-bold ">Let's Get Connected</span>

      </p>
    </div>
    <div class="p-5 bg-white md:flex-1">
     
          <ul class="dyanmic-texts">
            <li><span>Welcome Back!!</span></li>
          </ul>
     



      <!-- <h3 class="my-4 text-2xl font-semibold text-gray-700 text-center">Sign Up</h3>
          <p class="flex justify-center text-xl">Already Have an Account?<a class= "font-extrabold underline-offset-1" href="/users/sign-in">Log In</a></p> -->
      <a href="/users/auth/google"
        class="flex items-center shadow-md mt-5 justify-center font-bold px-4 py-2 space-x-2 transition-colors duration-300  rounded-md group hover:bg-gray-200 focus:outline-none">
        <span>
          <img class="w-7 h-7 font-bold" src="/images/google-logo.png" alt="google">
        </span>
        <span class="text-sm font-large">Sign Up with Google</span>
      </a>
      <div class="flex flex-col space-y-6">
        <span class="flex items-center justify-center space-x-2">
          <span class="h-px bg-gray-400 w-14 mt-5"></span>
          <span class="font-normal text-gray-500 mt-5">or login with Email</span>
          <span class="h-px bg-gray-400 w-14 mt-5"></span>
        </span>
        <div class="flex flex-col space-y-4">


          <!-- form -->
          <form action="/users/create" method="POST" class="flex flex-col space-y-5">
            <div class="flex flex-col space-y-1">
              <label for="name" class="text-sm font-semibold text-gray-500">User Name</label>
              <input type="name" id="name" name="name" autofocus
                class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
            </div>
            <div class="flex flex-col space-y-1">
              <label for="email" class="text-sm font-semibold text-gray-500">Email address</label>
              <input type="email" id="email" name="email" required autofocus
                class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
            </div>

            <div class="flex flex-col space-y-1">
              <div class="flex items-center justify-between">
                <label for="password" class="text-sm font-semibold text-gray-500">Password</label>
                <a href="#" class="text-sm text-blue-600 hover:underline focus:text-blue-800">Forgot Password?</a>
              </div>
              <input type="password" id="password" name="password" required
                class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
              <i class="bi bi-eye-slash  text-xl relative mb-28 ml-96" id="togglePassword"></i>
            </div>
            <div class="flex flex-col space-y-1">
              <label for="email" class="text-sm font-semibold text-gray-500">Confirm Password</label>
              <input type="password" id="password" name="Confirm_password" required autofocus
                class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
            </div>
            <div class="flex items-center space-x-2">
              <input type="checkbox" id="remember"
                class="w-4 h-4 transition duration-300 rounded focus:ring-2 focus:ring-offset-0 focus:outline-none focus:ring-blue-200" />
              <label for="remember" class="text-sm font-semibold text-gray-500">Remember me</label>
            </div>
            <div>
              <button type="submit"
                class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
                Log in
              </button>
            </div>

            <span class="flex items-center justify-center space-x-2">
              <span class="h-px bg-gray-400 w-14 mt-5"></span>
              <span class="font-normal text-gray-500 mt-5"><a href="/users/sign-in">or sign In</a></span>
              <span class="h-px bg-gray-400 w-14 mt-5"></span>
            </span>
            <div class="flex flex-col space-y-4">

              <!-- <a
                href="#"
                class="flex items-center justify-center px-4 py-2 space-x-2 transition-colors duration-300 border border-gray-800 rounded-md group hover:bg-gray-800 focus:outline-none"
              >
                <span>
                  <svg
                    class="w-5 h-5 text-gray-800 fill-current group-hover:text-white"
                    viewBox="0 0 16 16"
                    version="1.1"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                    ></path>
                  </svg>
                </span>
                <span class="text-sm font-medium text-gray-800 group-hover:text-white">Github</span>
              </a> -->

            </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/user_sign_in.js"></script>