.post-item {
    background: transparent;
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2), -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
    border-radius: 30px;
    border: solid lightblue;
    padding: 4px 30px 20px;
    font-size: 1.5rem;
    margin-top: 30px;
    display: flex;

    .avatar{
      display: flex;
      align-items: center;
      img{
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin-right: 10px;
      }
      p{
          margin-top: 5px;
          font-size: 1rem;
      }
    }
}