#home-container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

    .left-side-bar {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        flex-basis: 25%;
        position: sticky;
        top: 70px;
        align-self: flex-start;
    }
    .right-side-bar {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        flex-basis: 25%;
        position: sticky;
        top: 70px;
        align-self: flex-start;
        text-align: center;
    }
    .main-content {
        flex-basis: 47%;
        // background: green;
        // background: chocolate;
        .write-post-container {
            // width: 100%;
            background: #dedee4;
            box-shadow: -10px -10px 30px 0 #FFFFFF,
           10px 10px 30px 0 #AEAEC0 40%;
            border-radius: 6px;
            padding: 20px;
            color: #626262;

            .user-profile {
                display: flex;
                align-items: center;
                img {
                    width: 45px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                p {
                    font-size: 1.2rem;
                    font-weight: bolder;
                }
            }

            .post-input-container {
                padding-left: 55px;
                padding-top: 20px;
                textarea {
                    width: 100%;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid grey;
                    background: transparent;
                    resize: none;
                }
                form input[type="submit"] {
                    margin-top: 23px;
                    padding: 10px;
                    width: 140px;
                    height: 50px;
                    font-family: "Roboto", sans-serif;
                    font-size: 11px;
                    text-transform: uppercase;
                    letter-spacing: 2.5px;
                    font-weight: 500;
                    color: #000;
                    background-color: #fff;
                    border: none;
                    border-radius: 45px;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                    outline: none;
                    &:hover {
                        background-color: #2ee59d;
                        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                        color: #fff;
                        transform: translateY(-2px);
                    }
                }
            }
        }
    }

    // #feed-posts{
    //     width: 80%;
    //     padding: 10px;
    // }

    // #user-friends{
    //     width: 20%;
    //     padding: 10px;
    //     border-left: 1px solid grey;
    //     height: 100vh;
    // }

    // #posts-list-container{
    //     width: 60%;
    //     margin-left: 100px;
    // }
}
