// #home-container{
//     display: flex;
    
//     #feed-posts{
//         width: 70%;
//         padding: 10px;
//     }

//     #user-friends{
//         width: 30%;
//         padding: 10px;
//         border-left: 1px solid lightgrey;
//         height: 100%;
//     }
// }

.home-container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    .left-container{
        background: aqua;
        flex-basis: 25%;
        position: sticky;
        top: 70px;
        align-self: flex-start;
        height: 100vh;
    }
    .right-container{
        background: aqua;
        flex-basis: 25%;
        position: sticky;
        top: 70px;
        align-self: flex-start;
        height:100vh;
    }

    .main-content{
        flex-basis: 47%;
        .write-post-container{
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, 
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            border-radius: 6px;
            padding: 20px;
            color: grey;
            .user-profile{
                display: flex;
                align-items: center;
                img{
                    width: 45px;
                    border-radius: 50%;
                }
                p{
                    margin-left: 5px;
                    font-weight: 500;
                    color: #626262;
                }
            }
        }
    }

    .post-input-container{
        padding-left: 55px;
        padding-top: 20px;
        textarea{
            width: 100%;
            border: 0;
            outline: 0;
            border-bottom: 1px solid grey;
            background: transparent;
            resize: none;
        }
    }

}


@media only screen and (max-width: 600px) {
    .left-container{
        flex-basis: 0%;
    }
    .main-content{
        flex-basis: 100%;
    }
}
