.dyanmic-texts{
    li{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #ff0081;
        span{
            position: relative;
        }
       span:after{
           content: "";
           position: absolute;
           left: 0;
           background: #fff;
           height: 100%;
           width: 100%;
           border-left: 2px solid #424242;
           animation: typing 1.9s steps(14) infinite;
           @keyframes typing {
               100%{
                   left: 100%;
               }
           }
       }
    }
}