#home-container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

#home-container .left-side-bar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}

#home-container .right-side-bar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  text-align: center;
}

#home-container .main-content {
  flex-basis: 47%;
}

#home-container .main-content .write-post-container {
  background: #dedee4;
  box-shadow: -10px -10px 30px 0 #FFFFFF, 10px 10px 30px 0 #AEAEC0 40%;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}

#home-container .main-content .write-post-container .user-profile {
  display: flex;
  align-items: center;
}

#home-container .main-content .write-post-container .user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

#home-container .main-content .write-post-container .user-profile p {
  font-size: 1.2rem;
  font-weight: bolder;
}

#home-container .main-content .write-post-container .post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}

#home-container .main-content .write-post-container .post-input-container textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  background: transparent;
  resize: none;
}

#home-container .main-content .write-post-container .post-input-container form input[type="submit"] {
  padding: 10px;
  width: 140px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#home-container .main-content .write-post-container .post-input-container form input[type="submit"]:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
