body {
  font-family: consolas;
}

.body-header {
  display: flex;
  width: 100%;
  height: 40vh;
  opacity: 0.8;
  background: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 1.2rem;
}

#about {
  height: auto;
  width: 100%;
  position: relative;
}

#avatar {
  height: 12rem;
  width: 12rem;
  margin: auto;
  border: 4px solid white;
  border-radius: 50%;
  margin-top: -104px;
  box-shadow: 1px 0px 6px 6px rgba(210, 196, 196, 0.5);
}

#avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
}

#avatar label {
  position: absolute;
  top: 137px;
  font-size: 1.6rem;
  margin-left: 140px;
  height: 100px;
  color: white;
  opacity: 1;
  cursor: pointer;
  background-color: #4267b2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 2000px;
}

.update-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.update-profile .input-bx {
  margin-bottom: 20px;
}

.update-profile form {
  position: absolute;
  top: 60%;
  height: 80vh;
  border-radius: 40px;
  padding: 60px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.update-profile form input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: black;
  background: transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.update-profile form label {
  font-size: 16px;
  display: inline-block;
  color: black;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.update-profile form .update-bx {
  margin-top: 30px;
}

.update-profile form .update-bx input[type="submit"] {
  cursor: pointer;
  background: #4267b2;
}

.update-profile form .update-bx input[type="submit"]:hover {
  background-color: lightskyblue;
}

.update-profile #user-profile {
  text-align: center;
  font-size: 2rem;
}

.update-profile #user-profile p {
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  form {
    margin: 20px 20px;
  }
}
